.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-class {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-left: 40px;
  padding-top: 35px;
  padding-bottom: 40px;
}

.nav-class.nav-class-toggle {
  display: flex;
  flex-direction: column;
  visibility: visible;
}


.li-menu {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  margin-right: 30px;
}

.li-menu a {
  color: black;
  transition: color .3s ease, border-color .5s ease;
  border-bottom: 1px solid transparent;
}

.li-menu a:hover {
  color: #f53f4f;
  border-color: #f53f4f;
}

.li-menu {
  font-size: 16px;
}

.modal-phone-call-p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.phone-class {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-right: 38px;
  padding-top: 27px;
  padding-bottom: 40px;
}

.li-phone {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;

  margin-right: 15px;

  letter-spacing: 1px;
}

.phone-class :last-child {
  margin-right: 0px;
}

.li-phone a {
  font-size: 25px;
  font-weight: 900;

  padding-right: 5px;

  border: 1px solid transparent;
  transition-property: color, background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.li-phone a:hover {
  color: #f53f4f;
  border-bottom: 2px solid;
}

.call-button {
  width: 208px;
  height: 46px;
 
  cursor: pointer; 

}
.call-button:hover {
  
  transition-property: color, background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  border: 1px solid #ff4e2e;
  background-color: white;
  color: #ff4e2e;
}

.phone-call {
  display: none;
}

.modal-phone-call-container {
  display: none;
}

/*modal-container*/
.modal-phone-call-container {
  display: none;
  position: fixed;
  z-index: 15;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-phone-call-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  position: fixed;
  width: 20%;
  max-width: 100%;
  min-width: 275px;
  max-height: 100%;
  min-height: 258px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.modal-phone-call-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-phone-call-close:hover,
.modal-phone-call-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-phone-call-content-send-button {
  min-width: 231px;
  height: 61px;
  color: white;
  background-color: #ff4e2e;
  padding: 0px;
  border-width: 0px;

  font-family: "Roboto-Regular";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;

  border: 1px solid transparent;
  
}
.modal-phone-call-content-send-button:hover {
  transition-property: color, background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.modal-phone-call-input-text,
.phone-class-input {
  border: 1px solid #ff4e2e;
  margin-bottom: 20px;
  width: 100%;
}

.justvalidate-invalid {
  border-color: #dc3545;
  border-width: 2px;
}

.justvalidate-invalid-label {
  font-family: "Roboto-Regular";
  font-size: 18px;
  font-weight: bold;
  font-style: bold;
  color: #ff4e2e;
  margin-bottom: 10px;
}

@media(max-width: 1024px) {
  .fixed-container {
    max-width: 1024px;
  }

  .container {
    flex-wrap: wrap;

    margin-right: unset;
    margin-left: 40px;
  }

  .nav-class {
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 80px;
    background-color: white;
    padding-bottom: 0px;
    margin-left: 40px;
    padding-top: 40px;
  }

  .mobile-menu {
    display: block;

    padding-top: 37px;
  }

  .li-menu {
    font-weight: 900;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .li-menu a:hover {
    color: #f53f4f;
    border-bottom: 1px solid;
  }


  .li-phone a {
    font-size: 25px;
  }
}

@media(max-width: 585px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .mobile-menu {
    padding-top: 30px;
  }

  .li-menu a:hover {
    color: #f53f4f;
    border-bottom: 1px solid;
  }

  .logo-mob {
    width: 24px;
    height: 20px;
  }

  .phone-class {
    margin-right: unset;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .li-phone {
    margin-right: unset;
  }

  .li-phone a {
    font-size: 18px;
  }

  .phone-call {
    display: block;

    width: 26px;
    height: 26px;
    margin-top: 27px;
    background-color:unset;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
  }

  .li-phone:last-child {
    display: none;
  }
}

@media(max-width: 320px) {
  .nav-class {
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 55px;
    background-color: white;
    padding-bottom: 0px;
    margin-left: unset;
    padding-top: unset;
  }

  .li-menu a:hover {
    color: #f53f4f;
    border-bottom: 1px solid;
  }

  .modal-phone-call-content {
    right: unset;
    width: unset;
  }
}